<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FRATELLI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
				<key>dateExpires</key>
				<string>28/03/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardReturnManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardToolbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardToolbarManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQTextInputViewNotification.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>124.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63D992FB89F48484314798466CA79C87A1305A2E</string>
						<key>dateExpires</key>
						<string>28/03/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23A9S6YXY5</string>
						<key>name</key>
						<string>CloudCentric Infotech Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>23A9S6YXY5.com.winesfratelli</string>
				<key>com.apple.developer.team-identifier</key>
				<string>23A9S6YXY5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FRATELLI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eaa99d86-d94d-4f54-9cc8-dcafc09f36d6</string>
				<key>dateExpires</key>
				<string>04/04/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.winesfratelli</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>23A9S6YXY5</string>
				<key>name</key>
				<string>CloudCentric Infotech Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.10</string>
		</dict>
	</array>
</dict>
</plist>
